<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lifeistech.android.summer2015" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="@string/title_activity_second" >
        </activity>
        <activity
            android:name=".YoneActivity"
            android:label="@string/title_activity_yone" >
        </activity>
        <activity
            android:name=".KasuminActivity"
            android:label="@string/title_activity_kasumin" >
        </activity>
        <activity
            android:name=".RinRinActivity"
            android:label="@string/title_activity_rin_rin" >
        </activity>
        <activity
            android:name=".IsshiActivity"
            android:label="@string/title_activity_isshi" >
        </activity>
        <activity
            android:name=".DaizyuActivity"
            android:label="@string/title_activity_daizyu" >
        </activity>
        <activity
            android:name=".YossiActivity"
            android:label="@string/title_activity_yossi" >
        </activity>
        <activity
            android:name=".EndActivity"
            android:label="@string/title_activity_end" >
        </activity>
    </application>

</manifest>
